/* * {
  outline: grey;
} */

/* body {
  background-color: lightsteelblue;
  width: 480px;
  margin: auto;
} */

/* header {
  height: 75px;
  width: 480px;
}

aside {
  height: 150px;
  width: 480px;
}
section {
  height: 125px;
  width: 480px;
}
  
div {
   height: 500px;
   width: 240px; 
  }
  
article {
  height: 250px;
  width: 240px;
}

#div-left {
  float: left;
}

#div-right {
  float: right;
}

#article-e {
  float: left;
}

#article-f {
  float: right;
} */
  
  /* @media only screen and (min-width: 600px) {
    body {
      background-color: pink;
    }
  
    h1 {
      font-size: 50px;
    }
  
    div {
      float: right;
    }
  }
   */